body {
  background-color: #ffe6e6;
  font-family: 'Georgia', serif;

  .result {
    background-color: aquamarine;
    border-radius: 5px;
    padding-left: 10px;
  }
}

h1 {
  color: #8b0000;
  font-size: 36px;
}

input {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-size: 18px;
  color: #333;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.25);
}
