body {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  label {
    font-size: 18px;
    color: #333;
  }

  p {
    font-size: 18px;
    color: black;
  }

  a {
    margin: 10px;
    text-decoration: none;
    color: #007bff;
  }

  .link {
    color: purple;
  }

  .subtitulo {
    font-size: 40px;
  }
}
